body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-container {
    display: flex;
    align-items: center;
}

#text-containers {
    display: flex;
}

#console-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output {
    width: 50vw;
    height: 50vh;
}

#console {
    width: 50vw;
    height: 50vh;
}